# Assignment #2: Data Exploration

In this assignment, you will demonstrate your knowledge of the Python and Pandas skills we've learned so far. These include:

- Getting an overview of your data
- Extracting columns
- Removing duplicates from your data
- Creating a subset of your data by matching a string
- Getting a random sample of your data
- Sorting your data 
- Getting fundamental statistical information of a series, such as the mean and median

You will not need to formulate or answer a research question for this assignment. You simply need to demonstrate your ability to perform specific operations on the data set you have selected. In the next assignment, your midterm, you will create a narrative exploration of the data using many of the same methods, but in such a way as to use narrative along with data analysis to answer a research question.

You may use the data set you imported in assignment #1, or you may choose another data set. That means that you can reuse code you wrote in Assignment #1 to import the data.

In the below notebook, I will ask for you to perform a task. Each task will be followed by one or more blank code cells. Use as many cells as you need to complete the task. If you know some other way to complete the task with Python and/or Pandas that is not the way we learned in class, that is also acceptable. Feel free to use Google searches to refresh your memory as to how to perform each task. You will also likely wish to consult the class notebooks, which can be found in [our class repository on GitHub](https://github.com/sha256rma/foundations-of-data-science).

If your data set does not have a needed form of data for a task, write code that would perform the task if a column with that data existed, and provide an explanation as a comment or markdown cell.

You may receive partial credit for some incomplete or incorrect answers. Please feel free to add comments about your thought process, which will make it more likely that you will receive partial credit.

The last cell is a bonus. You will not be penalized for not attempting or completing it.

-----

Import Pandas and read your data in as a data frame. Assign the data frame to a variable, such as `df`.

In [34]:
import pandas as pd

In [38]:
df = pd.read_csv('NFLX.csv')

Make the data frame visible by placing the data frame variable in a cell by itself.

In [40]:
print(df)

            Date        Open        High         Low       Close   Adj Close  \
0     2002-05-23    1.156429    1.242857    1.145714    1.196429    1.196429
1     2002-05-24    1.214286    1.225000    1.197143    1.210000    1.210000
2     2002-05-28    1.213571    1.232143    1.157143    1.157143    1.157143
3     2002-05-29    1.164286    1.164286    1.085714    1.103571    1.103571
4     2002-05-30    1.107857    1.107857    1.071429    1.071429    1.071429
...          ...         ...         ...         ...         ...         ...
5417  2023-11-29  479.000000  480.989990  474.489990  477.190002  477.190002
5418  2023-11-30  475.309998  478.589996  470.420013  473.970001  473.970001
5419  2023-12-01  473.170013  475.230011  464.600006  465.739990  465.739990
5420  2023-12-04  460.989990  461.200012  451.200012  453.899994  453.899994
5421  2023-12-05  450.700012  456.390015  449.579987  455.149994  455.149994

         Volume
0     104790000
1      11104800
2       6609400
3       6757800
4      10154200
...         ...
5417    2855500
5418    4287300
5419    4338100
5420    5157700
5421    3261100

[5422 rows x 7 columns]

What columns are in your data frame? Use a function or method that shows all the columns.

In [42]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

Write Python code to output the number of rows in your data frame.

In [44]:
len(df)

5422

Write code to output a column from your data frame as a series. (Extract a column.)

In [62]:
series_one = pd.Series(df['Open'])

In [66]:
print(series_one)

0         1.156429
1         1.214286
2         1.213571
3         1.164286
4         1.107857
           ...
5417    479.000000
5418    475.309998
5419    473.170013
5420    460.989990
5421    450.700012
Name: Open, Length: 5422, dtype: float64

### Read the example below to **count** duplicates based on specific columns (e.g., 'Name' and 'Age')

Check duplicates based on 'Name' and 'Age' columns (modify the subset for your own columns):

`duplicates_subset = df.duplicated(subset=['Name', 'Age'])`

Count the number of duplicates in the subset:

`num_duplicates_subset = duplicates_subset.sum()`

Display no. of duplicate rows based on your column(s):

`print(f"\nNumber of duplicate rows based on 'Name' and 'Age': {num_duplicates_subset}")`

After reading the above, modify the code snippets to check for duplicate columns in your own data frame

In [68]:
duplicates_subset = df.duplicated(subset=['Open', 'Close'])

In [84]:
num_duplicates_subset = duplicates_subset.sum()

In [78]:
print(num_duplicates_subset)

2

If any duplicates exist within a column, remove them with the `.drop_duplicates()` function

In [109]:
df.drop_duplicates(subset=['Date','Open','High','Low','Close','Adj Close', 'Volume'])

,Date,Open,High,Low,Close,Adj Close,Volume
0,2002-05-23,1.156429,1.242857,1.145714,1.196429,1.196429,104790000
1,2002-05-24,1.214286,1.225000,1.197143,1.210000,1.210000,11104800
2,2002-05-28,1.213571,1.232143,1.157143,1.157143,1.157143,6609400
3,2002-05-29,1.164286,1.164286,1.085714,1.103571,1.103571,6757800
4,2002-05-30,1.107857,1.107857,1.071429,1.071429,1.071429,10154200
...,...,...,...,...,...,...,...
5417,2023-11-29,479.000000,480.989990,474.489990,477.190002,477.190002,2855500
5418,2023-11-30,475.309998,478.589996,470.420013,473.970001,473.970001,4287300
5419,2023-12-01,473.170013,475.230011,464.600006,465.739990,465.739990,4338100
5420,2023-12-04,460.989990,461.200012,451.200012,453.899994,453.899994,5157700
5421,2023-12-05,450.700012,456.390015,449.579987,455.149994,455.149994,3261100

Write Python code to output the number of rows in your data frame.

In [94]:
len(df)

5422

Compare the new value with the first time you outputted the number of rows above. Is it more, less, or the same?

Is the same

Create a subset of the data that matches a specific string in a column. That is, extract all rows of the original data frame that contain a specific string in one of the columns. Save the resulting data frame to a variable. (Add more cells if needed)

In [120]:
specific_number ='2022' 
subset_df = df[df['Date'].str.contains(specific_number)]
print (subset_df)

            Date        Open        High         Low       Close   Adj Close  \
4938  2022-01-03  605.609985  609.989990  590.559998  597.369995  597.369995
4939  2022-01-04  599.909973  600.409973  581.599976  591.150024  591.150024
4940  2022-01-05  592.000000  592.840027  566.880005  567.520020  567.520020
4941  2022-01-06  554.340027  563.359985  542.010010  553.289978  553.289978
4942  2022-01-07  549.460022  553.429993  538.219971  541.059998  541.059998
...          ...         ...         ...         ...         ...         ...
5184  2022-12-23  296.179993  298.459991  291.910004  294.959991  294.959991
5185  2022-12-27  293.190002  293.570007  282.130005  284.170013  284.170013
5186  2022-12-28  281.920013  285.190002  273.410004  276.880005  276.880005
5187  2022-12-29  283.179993  295.500000  281.010010  291.119995  291.119995
5188  2022-12-30  285.529999  295.010010  283.220001  294.880005  294.880005

       Volume
4938  3067500
4939  4393100
4940  4148700
4941  5711800
4942  3382900
...       ...
5184  4251100
5185  5778100
5186  5964400
5187  9588500
5188  7566900

[251 rows x 7 columns]

Output the length of the resulting data frame (the subset of your data for which the conditional was true).

In [126]:
len('2022')

4

Output the first ten rows of your data set, the last ten rows of your data set, and a random ten rows of your data set (a sample of your data).

In [128]:
print(df.head(10))

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
3  2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
4  2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200
5  2002-05-31  1.078571  1.078571  1.071429  1.076429   1.076429    8464400
6  2002-06-03  1.080000  1.149286  1.076429  1.128571   1.128571    3151400
7  2002-06-04  1.135714  1.140000  1.110714  1.117857   1.117857    3105200
8  2002-06-05  1.110714  1.159286  1.107143  1.147143   1.147143    1531600
9  2002-06-06  1.150000  1.232143  1.148571  1.182143   1.182143    2305800

In [130]:
print(df.tail(10))

            Date        Open        High         Low       Close   Adj Close  \
5412  2023-11-21  472.630005  477.019989  471.209991  474.950012  474.950012
5413  2023-11-22  476.799988  482.700012  476.559998  478.000000  478.000000
5414  2023-11-24  477.109985  480.399994  475.200012  479.559998  479.559998
5415  2023-11-27  479.029999  482.000000  475.350006  479.170013  479.170013
5416  2023-11-28  478.109985  480.500000  475.950012  479.000000  479.000000
5417  2023-11-29  479.000000  480.989990  474.489990  477.190002  477.190002
5418  2023-11-30  475.309998  478.589996  470.420013  473.970001  473.970001
5419  2023-12-01  473.170013  475.230011  464.600006  465.739990  465.739990
5420  2023-12-04  460.989990  461.200012  451.200012  453.899994  453.899994
5421  2023-12-05  450.700012  456.390015  449.579987  455.149994  455.149994

       Volume
5412  2997700
5413  2841600
5414  1404700
5415  3625900
5416  2890200
5417  2855500
5418  4287300
5419  4338100
5420  5157700
5421  3261100

In [132]:
print(df.sample(10))

            Date        Open        High         Low       Close   Adj Close  \
4590  2020-08-17  484.190002  486.239990  479.100006  482.350006  482.350006
1494  2008-04-30    4.574286    4.631429    4.455714    4.568571    4.568571
1482  2008-04-14    5.142857    5.198571    5.064286    5.111429    5.111429
4229  2019-03-13  355.809998  362.480011  352.769989  361.209991  361.209991
5150  2022-11-04  272.019989  274.970001  255.320007  260.790009  260.790009
5407  2023-11-14  448.779999  454.079987  445.640015  448.649994  448.649994
3980  2018-03-15  323.170013  323.399994  318.140015  321.089996  321.089996
2407  2011-12-12    9.962857   10.975714    9.931429   10.751429   10.751429
86    2002-09-25    0.724286    0.750000    0.707857    0.732143    0.732143
3014  2014-05-14   49.578571   50.628571   49.437141   50.268570   50.268570

        Volume
4590   2423500
1494  10906000
1482   6811000
4229   6444100
5150  11124700
5407   4060900
3980   5642900
2407  93400300
86     1457400
3014  19891900

## Bonus

You may want to refer to the [Pandas Cheat Sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf).

Sort your data frame by a particular column and output the result.

In [136]:
sorted_df =df.sort_values(by='Open')
print(sorted_df)

            Date        Open        High         Low       Close   Adj Close  \
97    2002-10-10    0.377857    0.525000    0.346429    0.506429    0.506429
96    2002-10-09    0.410000    0.410714    0.347143    0.372857    0.372857
95    2002-10-08    0.410714    0.427857    0.390714    0.405000    0.405000
94    2002-10-07    0.450000    0.458571    0.382143    0.412143    0.412143
99    2002-10-14    0.464286    0.535000    0.463571    0.534286    0.534286
...          ...         ...         ...         ...         ...         ...
4898  2021-11-04  685.890015  685.940002  665.500000  668.400024  668.400024
4895  2021-11-01  689.059998  689.969971  676.539978  681.169983  681.169983
4907  2021-11-17  690.000000  700.989990  686.090027  691.690002  691.690002
4908  2021-11-18  691.609985  691.739990  679.739990  682.020020  682.020020
4909  2021-11-19  692.349976  694.159973  675.000000  678.799988  678.799988

        Volume
97    13577200
96     5982200
95     4531800
94    15724800
99     5272400
...        ...
4898   4865000
4895   3110900
4907   2732800
4908   2012900
4909   2613700

[5422 rows x 7 columns]

Pick a column in your data set with numeric data (integers or floats). Output the mean (average) and median of that column.

In [140]:
mean_open=df['Open'].mean()
median_open=df['Open'].median()

print("mean of open:", mean_open)
print("median of open:", median_open)

mean of open: 131.30405712689046
median of open: 33.700714