In [39]:
import pandas as pd

In [17]:
student_data = [[1,15],[2,11],[3,11],[4,20]]

In [21]:
type(student_data)

list

In [56]:
columns = ['student_id','age']

In [25]:
type(columns)

list

In [27]:
student = pd.DataFrame(data=student_data, columns=columns)

In [31]:
student

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

## We're now going to count how many rows and columns our dataset has...

In [42]:
rows = len(student) # len is a function that returns the # length of what's inside

In [44]:
print(f"The student dataset has {rows} rows")

The student dataset has 4 rows

In [46]:
type(student)

pandas.core.frame.DataFrame

In [60]:
student_columns = len(student.columns)

In [62]:
print(f"The student dataset has {student_columns} columns")

The student dataset has 2 columns

## Checkpoint
1. We imported pandas
2. We created a student dataset
3. We counted how many rows and columns are in the students dataset

# Print out the first 3 rows of the student dataframe

Pandas has a function called '.head(x)' which prints out the first x rows of your DataFrame

In [76]:
student.head(3)

   student_id  age
0           1   15
1           2   11
2           3   11

for seeing the last x amount of rows you can use '.tail(x)'

In [79]:
student.tail(2)

   student_id  age
2           3   11
3           4   20

There is another way to print the first "x" rows using Python. We can use a technique called slicing where we provide the starting row and the ending row in square brackets, separated by a colan 
**Example:** [1:3] would just include the 1st and 3nd row, not the 3rd

In [82]:
student.sample(3)

   student_id  age
1           2   11
0           1   15
2           3   11

for using a random x amount of exaples you can use .sample(x)