**Understanding the Boxplot**

It has 5 statistics:
1. Minimum = what is the smallest point within the 1.5 times the IQR?
2. First Quartile (Q1) = 25% of the data
3. Median (Q2) = 50% of the data
4. Third Quartile (Q3) = 75% of the data
5. Maximum = What is the largest data point within the 1.5 times the IQR?

**What are the dots above and below the min or max?**

They are ouliners in a boxplot, the outliners are the points that fall outside 1.5 x range between Q3 and Q1
range between Q3 and Q1 --> Inter-Quartine Range (QR)

**What we can tell from the bropblox**
if the bropblox looks ~ symmetrical, then it is close to following a normal distribution. (The lenght of the whiskers are about the same and the outliners on both

In [21]:
import pandas

df = pandas.read_csv('Boston House Prices.csv')

df

     Rooms  Distance  Value
0    6.575    4.0900   24.0
1    6.421    4.9671   21.6
2    7.185    4.9671   34.7
3    6.998    6.0622   33.4
4    7.147    6.0622   36.2
..     ...       ...    ...
501  6.593    2.4786   22.4
502  6.120    2.2875   20.6
503  6.976    2.1675   23.9
504  6.794    2.3889   22.0
505  6.030    2.5050   11.9

[506 rows x 3 columns]

**We want to check if any one of our columns follows a normal distribution**
1. for each column we want to graph a histogram
2. each columnn's histogram, we want to graph the normal distribution line

In [23]:
for column in Boston.columns:
    plt.figure()
    #Step 1: we plot our histogram
    plt.hist(Boston[column], bins=20, color='skyblue', edgecolor='black', alpha=0.5)

NameError: name 'Boston' is not defined